* {
  margin: 0px;
  padding: 0px;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0%;
  margin-left: 0px;
  box-shadow: 0px 2px 48px #0000000f;
  padding: 0px;
  height: 8%;
}
header h4 {
  padding-left: 4%;
  font-size: 2vw;
}
nav {
  
  position: relative;
  right: 0px;
}
h4 {
  font-family: Avenir;
  letter-spacing: 1.8px;
  color: #5861ae;
  text-transform: uppercase;
  opacity: 1;
}
ul {
  margin-left: 0px;
  display: flex;
  flex-flow: row;
}
li {
  /* display: inline-block; */
  
  list-style: none;
  padding: 2em;
  font: normal normal normal 14px/19px Avenir;
  letter-spacing: 1.05px;
}
ul a{
  text-decoration: none;
}
.logoutButn:hover {
  background-color: #99A0E2;
}
.signin-btn{
  color: #FFFFFF;
  background-color: #5861ae;
}

nav .userAcc{
  background-color: #5861ae;
  color: white;
  background: #5861ae 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  opacity: 1;
 
}
.userAcc{
  width: 214px;
  height: 80px;
  color: white;
  display: flex;
  justify-content: space-between;
  background: #5861AE 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
 opacity: 1;
}



.userImage{
  width: 43px;
  height: 43px;
  margin-top: 19px;
  margin-left: 22px;
  border-radius: 50%;
/* UI Properties */
  background: transparent url('https://image.shutterstock.com/image-photo/pretty-blonde-woman-wearing-glasses-600w-1370334482.jpg') 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  opacity: 1;
  
}
.userName{
  margin-top: 30px;
  margin-right: 30px;
  width: 96px;
  height: 22px;
  /* UI Properties */
  text-align: center;
  font-size: 16px;
  font: normal normal medium 16px/22px Avenir;
  letter-spacing: 1.2px;
  color: #FFFFFF;
  text-transform: capitalize;
  opacity: 1;
  
}
input:focus{
  outline: none;
}