
.product_container, table{
    margin-left: 5%;
    width: 90%;
    height: auto;
}

thead th{
    color: #ffffff;

    width: 10%
}
.product-details{
    width: 26%
 }
.prod-data{
    display: flex;
    width: 100%;
    border: 1px solid black;
}
.prod-data div{
    margin-left: 10px;
    text-align: start;
    font-style: Sans, Regular
}
.prod-data div h{
    font-weight: 600;
}
.prod-data div p{
    color: black;
    letter-spacing: 0px;
    color: #76788B;
}


}
.prod-data{
    display: flex;
    width: 200px;
}

.prod-data img{
    height: 100px;
    width: 100px;
}

