/* .table-head {
    position: relative;
    top:119px;
    left: 106px;
    width: 1200px;
    border: 1px solid black;
}  */
/* body{
    height: 1440px;
    border: 1px solid black;
    position: relative;
} */
.order-count{
    position: absolute;
    top: 119px;
    left: 106px;
    width: 179px;
    height: 25px;
    /* UI Properties */
    text-align: left;
    font: normal normal 600 18px/48px Open Sans;
    letter-spacing: 0px;
    color: #1E2022;
    text-transform: capitalize;
    opacity: 1;
}
.create-btn{
    position: absolute;
    top: 113px;
    left: 870px;
    width: 107px;
    height: 32px;
    /* UI Properties */
    border: 1px solid #5861AE;
    border-radius: 4px;
    opacity: 1;
}
#search-bar{
    outline: 0;
    border-width: 0 0 1px;
    border-color: #1E2022;
    /* Layout Properties */
    position: absolute;
    top: 119px;
    left: 1000px;
    width: 200px;
    height: 21px;
    /* UI Properties */
    opacity: 1;
}
#search-bar:focus {
    border: 1px solid #5861AE
  }
  .search-glass{
      z-index: 2;
    position: absolute;
    top: 117px;
    left: 1000px;
    width: 14px;
    height: 14px;
    /* UI Properties */
    background: transparent url('../assests/search.png')  0% 0% no-repeat padding-box;
    opacity: 1;
  }

.history-table{
    position: absolute;
    top: 207px;
    left: 99px;
    width: 1100px;
    /* UI Properties */
    background: #FFFFFF 0% 0% no-repeat padding-box;
    /* border: 1px solid #EAEDF0; */
    border: 1px solid black;
    opacity: 1;
}
thead{
    background-color: #1E2022;
    margin: 0 0 0 0;
}
thead tr th{
    margin: 0 0 0 0;
    height: 17px;
    width: 126px;
    color: white;
    font: normal normal 12px Open Sans;
}



/* .order-count */