.mainpop123{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    height: 100%;
    width:100%;
    background-color:rgba(0 , 0, 0, 0.2) ;
    border: 1px solid green;
}

.price123{
    position: relative;
    border-radius: 10px;
    left: 40%;
    padding: 10px;
    height: 400px;
    width:200px;
    display: flex;
    flex-flow: column;
    background-color: #FFF;
    justify-content:space-evenly;
    border: 1px solid red;
 } 
 .okbtn123{
     height: 40px;
     width: 70px;
 }
 .pricehead123{
     /* border: 1px solid blue; */
     height: 15px;
     width: 70px;
     margin-top: 0%;
     margin-bottom: 0%;
 }
 .pricehead2123{
    height: 20px;
    width: 220px;
    margin-bottom: 0%;
    margin-right: 5px;
}